div {
    overflow: scroll;
}
#chuong_186 {
    font-family: "Times New Roman";
    font-size: 18px;
}
#chuong_187 {
    font-family: Times;
    fill-rule: evenodd;
    font-style: oblique;
    font-size: 18px;
}
#chuong_188 {
    font-family: Vn3DH;
    font-style: revert;
    font-size: 18px;
}
li {
    font-size: 22px;
    font-family: "Times New Roman";

}